<div class='col-xs-12'>
	<div class='panel panel-primary'>
		<div class='panel-heading'>
			<div class='panel-title'>Import Multiple Events</div>
		</div>
		<div class='panel-body'>
			<label class='control-label'>Select a .csv file</label>
			<input id="csvFileInput" onchange="handleFile(this.files);" type="file" accept=".csv" />
		</div>
		<div ng-show="file.done">
			<table class="table table-stripped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Adress</th>
						<th>Postal Code</th>
						<th>City</th>
						<th>Starting Date</th>
						<th>Ending Date</th>
						<th>Event Type</th>
						<th>Event Description</th>
						<th>Longitude</th>
						<th>Latitude</th>
						<th>Insert</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in file.events" ng-click="toggleEvent(x);">
						<td>{{x[0]}}</td>
						<td>{{x[1]}}</td>
						<td>{{x[2]}}</td>
						<td>{{x[3]}}</td>
						<td>{{x[4]}}</td>
						<td>{{x[5]}}</td>
						<td>{{x[6]}}</td>
						<td>{{x[7]}}</td>
						<td>{{x[8]}}</td>
						<td>{{x[9]}}</td>
						<td><input class="checkbox" type="checkbox" ng-checked="x[10]" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='panel-footer text-center'>
			<button ng-click='submit()' class='btn btn-primary'>Submit</button>
		</div>
	</div>
</div>