<div class="col-md-6 col-md-offset-3 col-xs-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">Log In</div>
		</div>
		<div class="panel-body">
			<div id="wrcred" class="alert alert-danger"><b>This event already exists.</b></div>
			<label class="control-label">Name</label>
			<input ng-model="nomEvent" class="form-control" type="text" />
			<label class="control-label">Address</label>
			<input ng-model="address" class="form-control" type="text" />
			<label class="control-label">Postal Code</label>
			<input ng-model="codePostal" class="form-control" type="text" />
			<label class="control-label">City</label>
			<input ng-model="ville" class="form-control" type="text" />
			<label class="control-label">Start Date</label>
			<input ng-model="dateDebut" class="form-control" type="text" />
			<label class="control-label">End Date</label>
			<input ng-model="dateFin" class="form-control" type="text" />

			<label class="control-label">Event Type</label>
			<select ng-model="typeEvent" class="form-control">
				<option value="0">Museum</option>
				<option value="1">Concert</option>
				<option value="2">Other</option>
			</select>
			<label class="control-label">Description</label>
			<textarea ng-model="descEvent" class="form-control"></textarea>
			<label class="control-label">Longitude</label>
			<input ng-model="longEvent" class="form-control" type="text" />
			<label class="control-label">Lattitude</label>
			<input ng-model="lattEvent" class="form-control" type="text" />
		</div>
		<div class="panel-footer text-center">
			<button ng-click="addEvent()" class="btn btn-primary">Submit</button>
		</div>
	</div>
</div>