<div class="col-md-3 col-xs-12">
	<div class="panel panel-primary fullHeight">
		<div class="panel-heading">
			<h5 class="panel-title">Événements près de chez vous</h5>
		</div>
		<div class="panel-body">
			<div class="form-inline">
				<div class="input-group col-md-offset-6">
					<input type="text" class="form-control" placeholder="search..." />
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>	
			</div>
		</div>
		<div class="panel-footer">
			<table class="table table-condensed table-striped">
				<thead>
			        <th>Nom Event</th>
			        <th>Ville</th>
			        <th>Date de début</th>
      			</thead>
      			<tbody>
      				<tr ng-repeat="x in events">
		          		<td>{{x.nomEvent}}</td>
		          		<td>{{x.ville}}</td>
		          		<td>{{x.dateDebut}}</td>
      				</tr>
      			</tbody>
				<tfoot>
					
				</tfoot>
			</table>
		</div>
	</div>
</div>
<div id="map-canvas" class="col-md-9 col-xs-12 fullHeight">

</div>

<!-- 
/main/event
/main/planning -->